<section class="min-h-screen bg-gray-50 p-4">

<div class="max-w-4xl mx-auto">

<app-dashboard-header
  [username]="account.user.username"
  (logout)="logout()">
</app-dashboard-header>

<app-account-card
  [accountNumber]="account.accountNumber"
  [balance]="account.balance"
  (sendMoney)="showModal = true">
</app-account-card>

<app-transaction-history
  [transactions]="transactions">
</app-transaction-history>

<app-transfer-modal
  [showModal]="showModal"
  [transferForm]="transferForm"
  [isTransferring]="isTransferring"
  (close)="showModal=false"
  (submitTransfer)="handleTransfer()">
</app-transfer-modal>
</div>

</section>
